
<section class="repoContainer">
<div class="tabBar">
	<div class="contributionsTab">
		<h4><i class="fa fa-plus-square-o"> Contributions</i></h4>
	</div>
	<div class="repositioresTab">
		<h4><i class="fa fa-book"> Repositories</i></h4>
	</div>
	<div class="publicActivityTab">
		<h4><i class="fa fa-rss"> Public Activity</i></h4>
	</div>
	<button class="editProfile"><i class="fa fa-pencil"></i> Edit Profile</button>
</div>
<div class="repoSorting">
	<input type="text" placeholder="Find a repository…" tabindex="2">
	<input type="submit" value="Search" class="btn">
	<ul>
		<li class="all">All</li>
		<li>Public</li>
		<li>Private</li>
		<li>Sources</li>
		<li>Forks</li>
		<li>Mirrors</li>
	</ul>
		<button class="new-repo"><i class="fa fa-book"></i> New</button>
</div>
<ul class="repos">
{{#each this}}
	<li class="repo">
		<div class="repoTitle">
			<h2><a href="{{html_url}}">{{name}}</a></h2>
			<h4>{{description}}</h4>
			<h5>{{updated_at}}</h5>
		</div>
		<div class="repoStats">
			<span>{{language}}</span>
			<span><a href="{{stargazers_url}}"><i class="fa fa-star"></i> {{stargazers_count}}</a></span>
			<span><a href="{{forks_url}}"><i class="fa fa-code-fork"></i> {{forks_count}}</a></span>
		</div>
	</li>
{{/each}}
</ul>
</section>